# Default ignored files
/shelf/
/workspace.xml
/vcs.xml
/misc.xml
/OPT3-DH-ICT.iml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
